<div class="w-75 mx-auto py-5">
    <h2>Login Now</h2>

    <div *ngIf="error" class="alert alert-danger mt-3">
        {{error}}
    </div>
    
    

    <form [formGroup]='loginForm' (ngSubmit)='submitter(loginForm)' class="mt-5">
        <div class="mb-4">
            <label for="email">Email</label>
            <input formControlName='email' type="email" class="mt-2 form-control">
            <div *ngIf="loginForm.get('email')?.errors && loginForm.get('email')?.touched" class="mt-2 alert alert-danger">
                <p *ngIf="loginForm.get('email')?.errors?.required">Email is required</p>
                <p *ngIf="loginForm.get('email')?.errors?.email">invalid Email</p>
            </div>
        </div>
        <div class="mb-5">
            <label for="password">Password</label>
            <input formControlName='password' type="password" class="mt-2 form-control">
            <div *ngIf="loginForm.get('password')?.errors && loginForm.get('password')?.touched" class="mt-2 alert alert-danger">
                <p *ngIf="loginForm.get('password')?.errors?.required">Password is required</p>
                <p *ngIf="loginForm.get('password')?.errors?.pattern">Password must start with capital letter followed by numbers</p>
            </div>
        </div>
        <p class="float-start py-1">Don't have an account? <a routerLink="/register"> Register now</a></p>
        <button [disabled]='loginForm.invalid' type="submit" class="btn btn-info d-block ms-auto">login</button>
    </form>

</div>