<div class="container">
    <div class="row mt-5">
        <div class="col-md-4">
            <img [src]="posterPath+movieDetails.poster_path" class="h-75 img-fluid ">
        </div>
        <div class="col-md-8">
            <h2>{{movieDetails.title}}</h2>
            <h5 class="text-secondary mb-4">{{movieDetails.tagline}}</h5>
            <span *ngIf="movieDetails.genres[0]" class="me-3 bg-info">{{movieDetails.genres[0].name}}</span>
            <span *ngIf="movieDetails.genres[1]" class="mx-3 bg-info">{{movieDetails.genres[1].name}}</span>
            <span *ngIf="movieDetails.genres[2]" class="mx-3 bg-info">{{movieDetails.genres[2].name}}</span>
            <p class="mt-5">vote: {{movieDetails.vote_average}}</p>
            <p class="mt-2">vote count: {{movieDetails.vote_count}}</p>
            <p class="mt-2">Popularity: {{movieDetails.popularity}}</p>
            <p class="mt-2">Release Date: {{movieDetails.release_date}}</p>
            <p class="mt-4 text-secondary">{{movieDetails.overview}}</p>
        </div>
    </div>